@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
}

/* General Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-section img {
    width: 350px;
    height: auto;
}

.product-section img:hover {
    opacity: 0.8;
}

:root {
    --primary-colors: #272629;
}