@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: Poppins;
}

:root {
    --primary-colors: #C63450;
}

/* General Settings */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product-section img {
    width: 270px;
    height: auto;
}

h2,
h3,
p,
.text-center {
    text-align: center;
}

h2 {
    margin: 2rem 0rem;
}

button {
    font-family: Poppins;
}

.product-section img:hover {
    opacity: 0.8;
}

.product-section {
    display: flex;
    flex-wrap: wrap;
}

.single-product {
    margin: 0px 2px;
    padding: 5px;
}

.card {
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 2px 2px 2px 2px;
    margin: 2px;
}

.btn {
    display: inline-block;
    padding: 13px 70px;
    cursor: pointer;
    background-color: var(--primary-colors);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

.container {
    display: flex;
    margin: 1rem 5rem;
    align-items: center;
    justify-content: space-between;
}